{% extends "base.html.tera" %}
{% block content %}<form action="/lpa_witness/{{ item.id }}" method="post" hx-put="/lpa_witness/{{ item.id }}" hx-target="body">
{% include "lpa_witness/_form.html.tera" %}<button type="submit">Save</button></form>{% endblock %}
