{% extends "base.html.tera" %}

{% block title %}Sports Medicine Assessment - Athlete{% endblock %}

{% block content %}
<div class="assessment-header">
    <h1>Sports Medicine Assessment</h1>
    <p class="form-hint">
        Pre-Participation Physical Evaluation (PPE 5th ed.). Complete all ten sections in a
        single continuous wizard and submit to generate the clearance report.
    </p>
</div>

<form method="POST" action="/assessment/{{ id }}/submit" hx-boost="false">
    {% include "assessment/step01.html.tera" %}
    {% include "assessment/step02.html.tera" %}
    {% include "assessment/step03.html.tera" %}
    {% include "assessment/step04.html.tera" %}
    {% include "assessment/step05.html.tera" %}
    {% include "assessment/step06.html.tera" %}
    {% include "assessment/step07.html.tera" %}
    {% include "assessment/step08.html.tera" %}
    {% include "assessment/step09.html.tera" %}
    {% include "assessment/step10.html.tera" %}

    <div class="submit-row">
        <button type="submit" class="btn btn-success">Submit and view report</button>
    </div>
</form>
{% endblock %}
