{% extends "base.html" %}

{% block title %}
View medical_operation_note_team_member: {{ item.id }}
{% endblock title %}

{% block page_title %}
View medical_operation_note_team_member: {{ item.id }}
{% endblock page_title %}


{% block content %}
<div class="mb-10">
    <div>
    <label><b>{{"deleted_at" | capitalize }}:</b> {{item.deleted_at}}</label>
    </div>
<div>
    <label><b>{{"medical_operation_note_id" | capitalize }}:</b> {{item.medical_operation_note_id}}</label>
    </div>
<div>
    <label><b>{{"clinician_id" | capitalize }}:</b> {{item.clinician_id}}</label>
    </div>
<div>
    <label><b>{{"team_role" | capitalize }}:</b> {{item.team_role}}</label>
    </div>
<div>
    <label><b>{{"arrived_at" | capitalize }}:</b> {{item.arrived_at}}</label>
    </div>
<div>
    <label><b>{{"left_at" | capitalize }}:</b> {{item.left_at}}</label>
    </div>
<div>
    <label><b>{{"notes" | capitalize }}:</b> {{item.notes}}</label>
    </div>
<br />
<a href="/medical_operation_note_team_members">Back to medical_operation_note_team_members</a>
</div>
{% endblock content %}
