{% extends "base.html" %}

{% block title %}
View medical_operation_note_grade: {{ item.id }}
{% endblock title %}

{% block page_title %}
View medical_operation_note_grade: {{ item.id }}
{% endblock page_title %}


{% block content %}
<div class="mb-10">
    <div>
    <label><b>{{"deleted_at" | capitalize }}:</b> {{item.deleted_at}}</label>
    </div>
<div>
    <label><b>{{"medical_operation_note_id" | capitalize }}:</b> {{item.medical_operation_note_id}}</label>
    </div>
<div>
    <label><b>{{"computed_composite_risk" | capitalize }}:</b> {{item.computed_composite_risk}}</label>
    </div>
<div>
    <label><b>{{"final_composite_risk" | capitalize }}:</b> {{item.final_composite_risk}}</label>
    </div>
<div>
    <label><b>{{"override_reason" | capitalize }}:</b> {{item.override_reason}}</label>
    </div>
<div>
    <label><b>{{"worst_clavien_dindo_grade" | capitalize }}:</b> {{item.worst_clavien_dindo_grade}}</label>
    </div>
<div>
    <label><b>{{"asa_physical_status" | capitalize }}:</b> {{item.asa_physical_status}}</label>
    </div>
<div>
    <label><b>{{"blood_loss_band" | capitalize }}:</b> {{item.blood_loss_band}}</label>
    </div>
<div>
    <label><b>{{"counts_agreed" | capitalize }}:</b> {{item.counts_agreed}}</label>
    </div>
<div>
    <label><b>{{"never_event_suspected" | capitalize }}:</b> {{item.never_event_suspected}}</label>
    </div>
<div>
    <label><b>{{"recommendation" | capitalize }}:</b> {{item.recommendation}}</label>
    </div>
<div>
    <label><b>{{"surgeon_notes" | capitalize }}:</b> {{item.surgeon_notes}}</label>
    </div>
<div>
    <label><b>{{"signed_at" | capitalize }}:</b> {{item.signed_at}}</label>
    </div>
<div>
    <label><b>{{"graded_at" | capitalize }}:</b> {{item.graded_at}}</label>
    </div>
<br />
<a href="/medical_operation_note_grades">Back to medical_operation_note_grades</a>
</div>
{% endblock content %}
