{% extends "base.html.tera" %}
{% block content %}<article><h2>Person to notify {{ item.id }}</h2>
<dl><dt>LPA</dt><dd>{{ item.lpa_id }}</dd><dt>Person</dt><dd>{{ item.person_id }}</dd><dt>Ordinal</dt><dd>{{ item.ordinal }}</dd></dl>
<a href="/lpa_person_to_notify/{{ item.id }}/edit">edit</a></article>{% endblock %}
