{% import "assessment/_likert.html.tera" as macros %}
<div class="card">
    <h2>Step 6: Staff Attitude &amp; Professionalism</h2>
    <p class="form-hint">Rate how staff treated you.</p>

    <div class="form-row">
        {{ macros::likert(name="staff_attitude.doctor_courtesy", label="Doctor courtesy", value=staff_attitude.doctorCourtesy) }}
        {{ macros::likert(name="staff_attitude.nurse_courtesy", label="Nurse courtesy", value=staff_attitude.nurseCourtesy) }}
    </div>
    <div class="form-row">
        {{ macros::likert(name="staff_attitude.reception_courtesy", label="Reception courtesy", value=staff_attitude.receptionCourtesy) }}
        {{ macros::likert(name="staff_attitude.respect_for_dignity", label="Respect for dignity", value=staff_attitude.respectForDignity) }}
    </div>
    <div class="form-row">
        {{ macros::likert(name="staff_attitude.cultural_sensitivity", label="Cultural sensitivity", value=staff_attitude.culturalSensitivity) }}
        {{ macros::likert(name="staff_attitude.emotional_support", label="Emotional support", value=staff_attitude.emotionalSupport) }}
    </div>
</div>
