{% extends "base.html" %}

{% block title %}
View organization: {{ item.id }}
{% endblock title %}

{% block page_title %}
View organization: {{ item.id }}
{% endblock page_title %}


{% block content %}
<div class="mb-10">
    <div>
    <label><b>{{"name" | capitalize }}:</b> {{item.name}}</label>
    </div>
<div>
    <label><b>{{"legal_name" | capitalize }}:</b> {{item.legal_name}}</label>
    </div>
<div>
    <label><b>{{"industry" | capitalize }}:</b> {{item.industry}}</label>
    </div>
<div>
    <label><b>{{"domain" | capitalize }}:</b> {{item.domain}}</label>
    </div>
<div>
    <label><b>{{"country_as_iso_3166_1_alpha_2" | capitalize }}:</b> {{item.country_as_iso_3166_1_alpha_2}}</label>
    </div>
<div>
    <label><b>{{"description" | capitalize }}:</b> {{item.description}}</label>
    </div>
<br />
<a href="/organizations">Back to organizations</a>
</div>
{% endblock content %}
