{% extends "base.html.tera" %}
{% block content %}<form action="/lpa_registration_recipient/{{ item.id }}" method="post" hx-put="/lpa_registration_recipient/{{ item.id }}" hx-target="body">
{% include "lpa_registration_recipient/_form.html.tera" %}<button type="submit">Save</button></form>{% endblock %}
