{% extends "base.html" %}

{% block title %}
View architecture_decision_record_position: {{ item.id }}
{% endblock title %}

{% block page_title %}
View architecture_decision_record_position: {{ item.id }}
{% endblock page_title %}


{% block content %}
<div class="mb-10">
    <div>
    <label><b>{{"architecture_decision_record_id" | capitalize }}:</b> {{item.architecture_decision_record_id}}</label>
    </div>
<div>
    <label><b>{{"ordinal" | capitalize }}:</b> {{item.ordinal}}</label>
    </div>
<div>
    <label><b>{{"name" | capitalize }}:</b> {{item.name}}</label>
    </div>
<div>
    <label><b>{{"description" | capitalize }}:</b> {{item.description}}</label>
    </div>
<div>
    <label><b>{{"model_or_diagram_url" | capitalize }}:</b> {{item.model_or_diagram_url}}</label>
    </div>
<div>
    <label><b>{{"is_chosen" | capitalize }}:</b> {{item.is_chosen}}</label>
    </div>
<div>
    <label><b>{{"pros" | capitalize }}:</b> {{item.pros}}</label>
    </div>
<div>
    <label><b>{{"cons" | capitalize }}:</b> {{item.cons}}</label>
    </div>
<br />
<a href="/architecture_decision_record_positions">Back to architecture_decision_record_positions</a>
</div>
{% endblock content %}
