<div class="card">
    <h2>Step 4: Medical History</h2>

    <div class="form-row">
        <div class="form-group">
            <label for="migraine">Migraine</label>
            <select id="migraine" name="medical_history.migraine">
                <option value="" {% if medical_history.migraine == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.migraine == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.migraine == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="migraine_with_aura">Migraine with aura</label>
            <select id="migraine_with_aura" name="medical_history.migraine_with_aura">
                <option value="" {% if medical_history.migraineWithAura == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.migraineWithAura == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.migraineWithAura == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="migraine_frequency">Migraine frequency</label>
            <select id="migraine_frequency" name="medical_history.migraine_frequency">
                <option value="" {% if medical_history.migraineFrequency == "" %}selected{% endif %}>&mdash;</option>
                <option value="rare" {% if medical_history.migraineFrequency == "rare" %}selected{% endif %}>Rare</option>
                <option value="monthly" {% if medical_history.migraineFrequency == "monthly" %}selected{% endif %}>Monthly</option>
                <option value="weekly" {% if medical_history.migraineFrequency == "weekly" %}selected{% endif %}>Weekly</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="breast_cancer">Breast cancer</label>
            <select id="breast_cancer" name="medical_history.breast_cancer">
                <option value="" {% if medical_history.breastCancer == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.breastCancer == "no" %}selected{% endif %}>No</option>
                <option value="current" {% if medical_history.breastCancer == "current" %}selected{% endif %}>Current</option>
                <option value="past-5-years" {% if medical_history.breastCancer == "past-5-years" %}selected{% endif %}>Past 5 years</option>
                <option value="past-over-5-years" {% if medical_history.breastCancer == "past-over-5-years" %}selected{% endif %}>Past &gt; 5 years</option>
            </select>
        </div>
        <div class="form-group">
            <label for="cervical_cancer">Cervical cancer</label>
            <select id="cervical_cancer" name="medical_history.cervical_cancer">
                <option value="" {% if medical_history.cervicalCancer == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.cervicalCancer == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.cervicalCancer == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="liver_disease">Liver disease</label>
            <select id="liver_disease" name="medical_history.liver_disease">
                <option value="" {% if medical_history.liverDisease == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.liverDisease == "no" %}selected{% endif %}>No</option>
                <option value="active-hepatitis" {% if medical_history.liverDisease == "active-hepatitis" %}selected{% endif %}>Active hepatitis</option>
                <option value="cirrhosis" {% if medical_history.liverDisease == "cirrhosis" %}selected{% endif %}>Cirrhosis</option>
                <option value="liver-tumour" {% if medical_history.liverDisease == "liver-tumour" %}selected{% endif %}>Liver tumour</option>
            </select>
        </div>
        <div class="form-group">
            <label for="gallbladder_disease">Gallbladder disease</label>
            <select id="gallbladder_disease" name="medical_history.gallbladder_disease">
                <option value="" {% if medical_history.gallbladderDisease == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.gallbladderDisease == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.gallbladderDisease == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="inflammatory_bowel_disease">IBD</label>
            <select id="inflammatory_bowel_disease" name="medical_history.inflammatory_bowel_disease">
                <option value="" {% if medical_history.inflammatoryBowelDisease == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.inflammatoryBowelDisease == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.inflammatoryBowelDisease == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="sle">SLE</label>
            <select id="sle" name="medical_history.sle">
                <option value="" {% if medical_history.sle == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.sle == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.sle == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sle_antiphospholipid">SLE with antiphospholipid antibodies</label>
            <select id="sle_antiphospholipid" name="medical_history.sle_antiphospholipid">
                <option value="" {% if medical_history.sleAntiphospholipid == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.sleAntiphospholipid == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.sleAntiphospholipid == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="epilepsy">Epilepsy</label>
            <select id="epilepsy" name="medical_history.epilepsy">
                <option value="" {% if medical_history.epilepsy == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.epilepsy == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.epilepsy == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="diabetes">Diabetes</label>
            <select id="diabetes" name="medical_history.diabetes">
                <option value="" {% if medical_history.diabetes == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.diabetes == "no" %}selected{% endif %}>No</option>
                <option value="type-1" {% if medical_history.diabetes == "type-1" %}selected{% endif %}>Type 1</option>
                <option value="type-2" {% if medical_history.diabetes == "type-2" %}selected{% endif %}>Type 2</option>
                <option value="gestational" {% if medical_history.diabetes == "gestational" %}selected{% endif %}>Gestational</option>
            </select>
        </div>
        <div class="form-group">
            <label for="diabetes_complications">Diabetes complications</label>
            <select id="diabetes_complications" name="medical_history.diabetes_complications">
                <option value="" {% if medical_history.diabetesComplications == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.diabetesComplications == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.diabetesComplications == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="sti">STI</label>
            <select id="sti" name="medical_history.sti">
                <option value="" {% if medical_history.sti == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.sti == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.sti == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sti_details">STI details</label>
            <input type="text" id="sti_details" name="medical_history.sti_details"
                   value="{{ medical_history.stiDetails }}">
        </div>
        <div class="form-group">
            <label for="pid">Pelvic inflammatory disease</label>
            <select id="pid" name="medical_history.pid">
                <option value="" {% if medical_history.pid == "" %}selected{% endif %}>&mdash;</option>
                <option value="no" {% if medical_history.pid == "no" %}selected{% endif %}>No</option>
                <option value="yes" {% if medical_history.pid == "yes" %}selected{% endif %}>Yes</option>
            </select>
        </div>
    </div>
</div>
