@import 'tailwindcss';

@theme {
  --color-primary: #005eb8;
  --color-primary-dark: #003d77;
  --color-danger: #d5281b;
  --color-warning: #b35a00;
  --color-success: #00703c;
  --color-muted: #4c6272;
  --color-nhs-blue: #005eb8;
  --color-nhs-blue-dark: #003d77;
}

@media print {
  .no-print { display: none !important; }
}
