{% extends "base.html.tera" %}
{% block content %}<form action="/lpa_continuation_sheet/{{ item.id }}" method="post" hx-put="/lpa_continuation_sheet/{{ item.id }}" hx-target="body">
{% include "lpa_continuation_sheet/_form.html.tera" %}<button type="submit">Save</button></form>{% endblock %}
