{% extends "base.html.tera" %}
{% block content %}<form action="/lpa_continuation_sheet" method="post" hx-post="/lpa_continuation_sheet" hx-target="body">
{% include "lpa_continuation_sheet/_form.html.tera" %}<button type="submit">Create</button></form>{% endblock %}
