<div class="card">
    <h2>Step 5: PROM &mdash; EQ-5D-5L</h2>
    <p class="form-hint">Five dimensions on a 1 (no problems) &ndash; 5 (extreme problems) scale, plus a VAS (0&ndash;100). Capture before and after.</p>

    <h3>Before treatment</h3>
    <div class="form-row">
        <div class="form-group">
            <label for="before_mobility">Mobility (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="before_mobility" name="prom_eq5d5l.before_mobility" value="{{ prom_eq5d5l.beforeMobility }}">
        </div>
        <div class="form-group">
            <label for="before_self_care">Self-care (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="before_self_care" name="prom_eq5d5l.before_self_care" value="{{ prom_eq5d5l.beforeSelfCare }}">
        </div>
        <div class="form-group">
            <label for="before_usual_activities">Usual activities (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="before_usual_activities" name="prom_eq5d5l.before_usual_activities" value="{{ prom_eq5d5l.beforeUsualActivities }}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="before_pain_discomfort">Pain / discomfort (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="before_pain_discomfort" name="prom_eq5d5l.before_pain_discomfort" value="{{ prom_eq5d5l.beforePainDiscomfort }}">
        </div>
        <div class="form-group">
            <label for="before_anxiety_depression">Anxiety / depression (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="before_anxiety_depression" name="prom_eq5d5l.before_anxiety_depression" value="{{ prom_eq5d5l.beforeAnxietyDepression }}">
        </div>
        <div class="form-group">
            <label for="before_vas">VAS (0&ndash;100)</label>
            <input type="number" min="0" max="100" id="before_vas" name="prom_eq5d5l.before_vas" value="{{ prom_eq5d5l.beforeVas }}">
        </div>
    </div>

    <h3>After treatment</h3>
    <div class="form-row">
        <div class="form-group">
            <label for="after_mobility">Mobility (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="after_mobility" name="prom_eq5d5l.after_mobility" value="{{ prom_eq5d5l.afterMobility }}">
        </div>
        <div class="form-group">
            <label for="after_self_care">Self-care (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="after_self_care" name="prom_eq5d5l.after_self_care" value="{{ prom_eq5d5l.afterSelfCare }}">
        </div>
        <div class="form-group">
            <label for="after_usual_activities">Usual activities (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="after_usual_activities" name="prom_eq5d5l.after_usual_activities" value="{{ prom_eq5d5l.afterUsualActivities }}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="after_pain_discomfort">Pain / discomfort (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="after_pain_discomfort" name="prom_eq5d5l.after_pain_discomfort" value="{{ prom_eq5d5l.afterPainDiscomfort }}">
        </div>
        <div class="form-group">
            <label for="after_anxiety_depression">Anxiety / depression (1&ndash;5)</label>
            <input type="number" min="1" max="5" id="after_anxiety_depression" name="prom_eq5d5l.after_anxiety_depression" value="{{ prom_eq5d5l.afterAnxietyDepression }}">
        </div>
        <div class="form-group">
            <label for="after_vas">VAS (0&ndash;100)</label>
            <input type="number" min="0" max="100" id="after_vas" name="prom_eq5d5l.after_vas" value="{{ prom_eq5d5l.afterVas }}">
        </div>
    </div>
</div>
