{% extends "base.html.tera" %}

{% block title %}Issue Tracker - Issue{% endblock %}

{% block content %}
<div class="assessment-header">
    <h1>Issue Tracker</h1>
    <p class="form-hint">
        Complete all 10 steps (Reporter, Chief complaint, Participants, Symptoms,
        Fractures, History, Investigations, Diagnosis, Treatments &amp; prognosis,
        Score &amp; sign-off) and submit to grade the issue.
    </p>
</div>

<form method="POST" action="/assessment/{{ id }}/submit" hx-boost="false">
    {% include "assessment/step01.html.tera" %}
    {% include "assessment/step02.html.tera" %}
    {% include "assessment/step03.html.tera" %}
    {% include "assessment/step04.html.tera" %}
    {% include "assessment/step05.html.tera" %}
    {% include "assessment/step06.html.tera" %}
    {% include "assessment/step07.html.tera" %}
    {% include "assessment/step08.html.tera" %}
    {% include "assessment/step09.html.tera" %}
    {% include "assessment/step10.html.tera" %}

    <div class="submit-row">
        <button type="submit" class="btn btn-success">Grade Issue</button>
    </div>
</form>
{% endblock %}
