{% extends "base.html.tera" %}
{% block content %}<form action="/lpa_replacement_attorney/{{ item.id }}" method="post" hx-put="/lpa_replacement_attorney/{{ item.id }}" hx-target="body">
{% include "lpa_replacement_attorney/_form.html.tera" %}<button type="submit">Save</button></form>{% endblock %}
