{% extends "base.html" %}

{% block title %}
View author: {{ item.id }}
{% endblock title %}

{% block page_title %}
View author: {{ item.id }}
{% endblock page_title %}


{% block content %}
<div class="mb-10">
    <div>
    <label><b>{{"name" | capitalize }}:</b> {{item.name}}</label>
    </div>
<div>
    <label><b>{{"email" | capitalize }}:</b> {{item.email}}</label>
    </div>
<div>
    <label><b>{{"phone" | capitalize }}:</b> {{item.phone}}</label>
    </div>
<div>
    <label><b>{{"role" | capitalize }}:</b> {{item.role}}</label>
    </div>
<div>
    <label><b>{{"organization_name" | capitalize }}:</b> {{item.organization_name}}</label>
    </div>
<div>
    <label><b>{{"team_name" | capitalize }}:</b> {{item.team_name}}</label>
    </div>
<br />
<a href="/authors">Back to authors</a>
</div>
{% endblock content %}
