<label>LPA ID <input type="text" name="lpa_id" value="{{ item.lpa_id | default(value='') }}"></label>
<label>Person ID <input type="text" name="person_id" value="{{ item.person_id | default(value='') }}"></label>
<label>Knows donor as
  <select name="knows_donor_as">
    <option value="">(unset)</option>
    <option value="friend" {% if item.knows_donor_as == "friend" %}selected{% endif %}>Friend (2+ years)</option>
    <option value="professional" {% if item.knows_donor_as == "professional" %}selected{% endif %}>Professional</option>
  </select>
</label>
<label><input type="checkbox" name="is_over_eighteen" value="true" {% if item.is_over_eighteen %}checked{% endif %}> Is over 18</label>
<label><input type="checkbox" name="read_lpa" value="true" {% if item.read_lpa %}checked{% endif %}> Has read the LPA</label>
<label><input type="checkbox" name="no_restrictions_on_acting" value="true" {% if item.no_restrictions_on_acting %}checked{% endif %}> No statutory disqualification</label>
