{% extends "base.html.tera" %}

{% block title %}Prescription Request - Wizard{% endblock %}

{% block content %}
<div class="assessment-header">
    <h1>Prescription Request</h1>
    <p class="form-hint">
        Complete all five sections (Patient Information, Clinician Information,
        Prescription Details, Substitution Options, Request Type) and submit to
        classify the request priority.
    </p>
</div>

<form method="POST" action="/assessment/{{ id }}/submit" hx-boost="false">
    {% include "assessment/step01.html.tera" %}
    {% include "assessment/step02.html.tera" %}
    {% include "assessment/step03.html.tera" %}
    {% include "assessment/step04.html.tera" %}
    {% include "assessment/step05.html.tera" %}

    <div class="submit-row">
        <button type="submit" class="btn btn-success">Submit Prescription Request</button>
    </div>
</form>
{% endblock %}
