<div class="card">
    <h2>Step 13: Additional Interventions</h2>

    <h3>Medications given</h3>
    <div class="form-group">
        <label><input type="checkbox" name="additional_interventions.meds_bronchodilators" value="on" {% if additional_interventions.medsBronchodilators %}checked{% endif %}> Bronchodilators</label>
        <label><input type="checkbox" name="additional_interventions.meds_epinephrine" value="on" {% if additional_interventions.medsEpinephrine %}checked{% endif %}> Epinephrine</label>
        <label><input type="checkbox" name="additional_interventions.meds_aspirin" value="on" {% if additional_interventions.medsAspirin %}checked{% endif %}> Aspirin</label>
        <label><input type="checkbox" name="additional_interventions.meds_seizure_medication" value="on" {% if additional_interventions.medsSeizureMedication %}checked{% endif %}> Seizure medication</label>
        <label><input type="checkbox" name="additional_interventions.meds_analgesia" value="on" {% if additional_interventions.medsAnalgesia %}checked{% endif %}> Analgesia</label>
        <label><input type="checkbox" name="additional_interventions.meds_iv_fluid_infusion" value="on" {% if additional_interventions.medsIvFluidInfusion %}checked{% endif %}> IV fluid infusion</label>
    </div>
    <div class="form-group">
        <label for="meds_other">Other medications</label>
        <input type="text" id="meds_other" name="additional_interventions.meds_other" value="{{ additional_interventions.medsOther }}">
    </div>

    <h3>Procedures</h3>
    <div class="form-group">
        <label><input type="checkbox" name="additional_interventions.proc_wound_bandaging" value="on" {% if additional_interventions.procWoundBandaging %}checked{% endif %}> Wound bandaging</label>
        <label><input type="checkbox" name="additional_interventions.proc_burn_dressing" value="on" {% if additional_interventions.procBurnDressing %}checked{% endif %}> Burn dressing</label>
        <label><input type="checkbox" name="additional_interventions.proc_splinting_reduction" value="on" {% if additional_interventions.procSplintingReduction %}checked{% endif %}> Splinting / reduction</label>
        <label><input type="checkbox" name="additional_interventions.proc_pelvic_stabilization" value="on" {% if additional_interventions.procPelvicStabilization %}checked{% endif %}> Pelvic stabilization</label>
        <label><input type="checkbox" name="additional_interventions.proc_ecg" value="on" {% if additional_interventions.procEcg %}checked{% endif %}> ECG</label>
    </div>
    <div class="form-group">
        <label for="proc_other">Other procedures</label>
        <input type="text" id="proc_other" name="additional_interventions.proc_other" value="{{ additional_interventions.procOther }}">
    </div>
</div>
