{% extends "base.html.tera" %}
{% block content %}<form action="/lpa_preferences_and_instructions/{{ item.id }}" method="post" hx-put="/lpa_preferences_and_instructions/{{ item.id }}" hx-target="body">
{% include "lpa_preferences_and_instructions/_form.html.tera" %}<button type="submit">Save</button></form>{% endblock %}
