{% extends "base.html" %}

{% block title %}
View patient: {{ item.id }}
{% endblock title %}

{% block page_title %}
View patient: {{ item.id }}
{% endblock page_title %}


{% block content %}
<div class="mb-10">
    <div>
    <label><b>{{"deleted_at" | capitalize }}:</b> {{item.deleted_at}}</label>
    </div>
<div>
    <label><b>{{"name" | capitalize }}:</b> {{item.name}}</label>
    </div>
<div>
    <label><b>{{"birth_date" | capitalize }}:</b> {{item.birth_date}}</label>
    </div>
<div>
    <label><b>{{"sex" | capitalize }}:</b> {{item.sex}}</label>
    </div>
<div>
    <label><b>{{"email" | capitalize }}:</b> {{item.email}}</label>
    </div>
<div>
    <label><b>{{"phone" | capitalize }}:</b> {{item.phone}}</label>
    </div>
<div>
    <label><b>{{"postal_address_as_full_text" | capitalize }}:</b> {{item.postal_address_as_full_text}}</label>
    </div>
<div>
    <label><b>{{"country_as_iso_3166_1_alpha_2" | capitalize }}:</b> {{item.country_as_iso_3166_1_alpha_2}}</label>
    </div>
<div>
    <label><b>{{"postcode" | capitalize }}:</b> {{item.postcode}}</label>
    </div>
<div>
    <label><b>{{"united_kingdom_nhs_number" | capitalize }}:</b> {{item.united_kingdom_nhs_number}}</label>
    </div>
<div>
    <label><b>{{"hospital_mrn" | capitalize }}:</b> {{item.hospital_mrn}}</label>
    </div>
<div>
    <label><b>{{"height_as_cm" | capitalize }}:</b> {{item.height_as_cm}}</label>
    </div>
<div>
    <label><b>{{"weight_as_kg" | capitalize }}:</b> {{item.weight_as_kg}}</label>
    </div>
<div>
    <label><b>{{"body_mass_index" | capitalize }}:</b> {{item.body_mass_index}}</label>
    </div>
<div>
    <label><b>{{"allergies_summary" | capitalize }}:</b> {{item.allergies_summary}}</label>
    </div>
<br />
<a href="/patients">Back to patients</a>
</div>
{% endblock content %}
